[project]
	description = Packaging content for django_openstack_auth (distgit)
[access "refs/*"]
  read = group openstack/django_openstack_auth-distgit-core
  owner = group openstack/django_openstack_auth-distgit-ptl
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group openstack/django_openstack_auth-distgit-core
	label-Code-Review = -2..+2 group openstack/django_openstack_auth-distgit-ptl
	label-Verified = -2..+2 group openstack/django_openstack_auth-distgit-ptl
	label-Workflow = -1..+1 group openstack/django_openstack_auth-distgit-core
	label-Workflow = -1..+1 group openstack/django_openstack_auth-distgit-ptl
	label-Workflow = -1..+0 group Registered Users
	submit = group openstack/django_openstack_auth-distgit-ptl
	read = group Registered Users
    read = group openstack/django_openstack_auth-distgit-core
[access "refs/meta/config"]
    read = group Registered Users
    read = group openstack/django_openstack_auth-distgit-core
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
	action = fast forward only
